@use '~scss/core/theme';
@use '~scss/core/utilities' as *;

.wrapper {
  position: relative;
}

.button {
  @include button-reset;
  @include theme.button;
}

.list {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid rgba(12, 18, 28, 0.12);
  left: 0;
  list-style-type: none;
  max-height: 13.5rem;
  outline: none;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: absolute;
  top: 0;
}

.list-item {
  align-items: center;
  justify-content: center;
  padding: rem(10);

  &[aria-selected="true"] {
    @include theme.invert-text;
  }
}
