@import 'reset';

:root {
  font-size: medium;
}

body {
  background-color: white;
  color: black;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeSpeed;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

svg {
  display: block;
  height: auto;
  pointer-events: none;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

abbr {
  border-bottom: 1px dotted rgba(black, 0.4);
  cursor: help;
  text-decoration: none;
}

.screen-reader-text {
  @include screen-reader-text;
}

.skip-link {
  @include skip-link;
}
