@use '~scss/core/a11y';
@use '~scss/core/layout';
@use '~scss/core/theme';
@use '~scss/core/utilities' as *;
@use 'reset';

:root {
  font-size: medium;
}

body {
  background-color: white;
  color: black;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-rendering: optimizeSpeed;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

svg {
  display: block;
  height: auto;
  pointer-events: none;
  width: 100%;
}

h1 {
  border-bottom: 1px solid rgba(black, 0.3);
  font-size: rem(36);
  margin-bottom: rem(20);
  padding: rem(20) 0;
}

h2 {
  font-size: rem(30);
}

h3 {
  font-size: rem(20);
}

p {

  &:not(:last-child) {
    margin-bottom: rem(28);
  }
}

a {
  color: #0000FF;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

abbr {
  border-bottom: 1px dotted rgba(black, 0.4);
  cursor: help;
  text-decoration: none;
}

::selection {
  @include theme.invert-text;
}

.site {
  @include layout.container;
}

.header {
  margin-bottom: rem(100);
}

.section {
  margin-bottom: rem(100);
}

.section-header {
  margin-bottom: rem(20);
}

.screen-reader-only {
  @include a11y.screen-reader-only;
}

.skip-link {
  @include a11y.skip-link;
}
