@use '~scss/core/a11y';
@use '~scss/core/breakpoints' as *;
@use '~scss/core/theme';
@use '~scss/core/utilities' as *;

.wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

.button {
  @include button-reset;
  @include a11y.role-button;
  @include theme.button;
}

.menu-wrapper {
  background-color: white;
  border: 1px solid;
  left: 0;
  padding: rem(20);
  position: absolute;
  top: 100%;

  @media (min(lg)) {
    width: tidy-span(6);
  }
}

.nav {
  /* tbd */
}

.menu {
  padding-left: rem(20);
}

.menu-item {
  /* tbd */
}

.has-children {
  /* tbd */
}

.sub-menu {
  margin-left: rem(20);
  margin-top: rem(10);
}

.menu-item {

  &:not(:last-child) {
    margin-bottom: rem(10);
  }
}
