@use '~scss/core/breakpoints' as *;
@use '~scss/core/utilities' as *;

.list {
  list-style-type: none;

  @media (min(lg)) {
    width: 50%;
  }
}

.list-item {
  margin-bottom: rem(16);
}

.button {
  @include button-reset;
  cursor: pointer;
}

.info {
  padding: rem(10);
}
