@use '~scss/core/utilities' as *;

.nav {
  /* tbd */
}

.list {
  list-style-position: inside;
}

.list-item {
  /* tbd */
}

.has-children {
  /* tbd */
}

.sub-list {
  margin-left: rem(20);
  margin-top: rem(10);

  &[aria-hidden="true"] {
    display: none;
  }
}

.list-item {

  &:not(:last-child) {
    margin-bottom: rem(10);
  }
}
