.dialog {
  background-color: white;
  border: 1px solid black;
  left: 50%;
  max-height: calc(100vh - tidy-var(edge) * 2);
  max-width: rem(500);
  overflow-y: scroll;
  padding: rem(28 10 10 10);
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - tidy-var(edge) * 2);
  z-index: 1;

  @media (min(lg)) {
    padding: rem(28);
    width: rem(500);
  }
}

.link {
  @include role-button;
}

.closeButton {
  background-color: black;
  color: white;
  padding: rem(3);
  position: absolute;
  right: 0;
  top: 0;
}

:global(.site) {

  &[aria-hidden="true"] {
    opacity: 0.3;
    pointer-events: none;
  }
}

.doc-link {
  display: block;
}
