.dialog {
  background-color: white;
  border: 1px solid black;
  left: 50%;
  padding: rem(20);
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: rem(500);
  z-index: 1;

  &[aria-hidden="true"] {
    display: none;
  }
}

.link {
  @include role-button;
}

.closeButton {
  /* tbd */
}

:global(.site) {

  &[aria-hidden="true"] {
    opacity: 0.3;
  }
}

.doc-link {
  display: block;
}
