/**
 * Visually hide an element and leave it only for screenreaders
 */
@mixin screen-reader-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Adds focus ring outline.
 */
@mixin focus-ring {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

/**
 * Ensure Windows high-contrast mode outline for non-standard focus styles.
 */
@mixin override-focus-styles {
  @content;
  outline: 1px solid transparent;
}

/**
 * Remove hover and focus underline for a given link.
 */
@mixin remove-helpful-link-hover-styles {

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/**
 * Kill text underline for elements with role=button.
 */
@mixin role-button {

  &[role="button"] {
    @include remove-helpful-link-hover-styles;
    @include button;
  }
}

/**
 * Styles the 'Skip to content' link; hidden until it has focus.
 */
@mixin skip-link {
  @include auto-margins;
  background-color: white;
  color: inherit;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: rem(5);
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  transform: translateY(-100%);
  transition: all 150ms ease-in-out;
  width: rem(150);
  z-index: -1;

  &:focus {
    opacity: 1;
    transform: translateY(0);
    z-index: 2147483647;
  }
}
