@use '~scss/core/breakpoints' as *;

/**
 * Centered block.
 */
@mixin auto-margins {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Site edge padding.
 */
@mixin edge-padding {
  @include keep-tidy {
    padding-left: tidy-var(edge);
    padding-right: tidy-var(edge);
  }
}

/**
 * Full-width container.
 */
@mixin container-viewport {
  max-width: 100%; // Prevent overflow in some browsers.
  width: 100vw;
}

/**
 * Site-width container with no edge spacing.
 */
@mixin container-site {
  @include auto-margins;
  @include container-viewport;

  @media (min(full)) {
    max-width: tidy-var(siteMax);
  }
}

/**
 * Content-width container.
 */
@mixin container {
  @include auto-margins;

  @include keep-tidy {
    tidy-span: tidy-var(columns);
  }
}

/**
 * Content-width container + edge padding for full-bleed background-color.
 */
@mixin container-bleed {
  @include container-site;
  @include edge-padding;
}

/**
 * Ensures a tidy-columns property applies to all screen sizes.
 */
@mixin keep-tidy {
  @content;

  @media (min(lg)) {
    @content;
  }
}
