/**
 * Strip CSS units from a value.
 *
 * @param {String} $value A CSS length value.
 *
 * @returns {String} A unitless value.
 */
@function _strip-units($value) {
  @if (type-of($value) == 'number' and not unitless($value)) {
    @return $value / ($value * 0 + 1);
  }

  @return $value;
}

/**
 * Convert px to rem or em
 * Unitless values are assumed to be in px
 *
 * @param {Number|List} $values Single value or list of values to convert
 * @param {Number} $base-value  Root font size on which to base conversions
 *
 * @returns {String} A rem value.
 */
@function _px-to-relative($px, $base-value) {
  @if ('rem' == unit($px) or 0 == $px) {
    @return $px;
  }

  @return _strip-units($px) / $base-value * 1rem;
}

/**
 * Convert a list of px values (with or without the 'px' string) to either rem or em
 *
 * @param {Number|List} $values Single value or list of values to convert
 * @param {Number} $base-value  Root font size on which to base conversions
 *
 * @returns {List|Number} A list of rem values, or a single value.
 */
@function _px-to-relative-list($values, $base-value) {
  $rem-values: ();

  @for $i from 1 through length($values) {
    $value: nth($values, $i);

    $rem-value: if(
      string == type-of($value),
      $value,
      _px-to-relative(nth($values, $i), $base-value)
    );

    $rem-values: append($rem-values, $rem-value);
  }

  @return if(
    1 < length($rem-values),
    $rem-values,
    nth($rem-values, 1)
  );
}

/**
 * Convert a list of px values (with or without the 'px' string) to rem
 *
 * @param {List}   $values Single value or list of values to convert
 * @param {Number} $base-value Root font size on which to base conversions
 */
@function rem($values, $base-value: 16) {
  @return _px-to-relative-list($values, $base-value);
}

/**
 * Negate a number _the Sass way_
 *
 * @param  {Number} $value The number to be negated.
 * @return {Number}
 */
@function negate($number) {
  @return ($number * -1);
}
