.list {
  border: 1px solid;
  border-bottom: none;
  display: inline-flex;
  list-style-type: none;
  position: relative;
  z-index: 1;
}

.list-item {

  &:not(:last-child) { /* stylelint-disable-line selector-max-specificity */
    border-right: 1px solid;
  }
}

[role="tab"] {
  border-bottom: 1px solid;
  display: block;
  padding: rem(20);

  &[aria-selected="true"] {
    border-bottom-color: white;
  }
}

.panel {
  border: 1px solid;
  padding: rem(20);
  position: relative;
  top: -1px;
  width: 50%;

  &[aria-hidden="true"] {
    display: none;
  }
}
