@use '~scss/core/a11y';
@use '~scss/core/breakpoints' as *;
@use '~scss/core/theme';
@use '~scss/core/utilities' as *;

.wrapper {
  display: inline-block;
  position: relative;
  width: 100%;

  @media (min(lg)) {
    width: auto;
  }
}

.button {
  @include a11y.role-button;
  @include theme.button;
}

.info {
  background-color: white;
  border: 1px solid;
  left: 0;
  padding: rem(10);
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;

  &[aria-hidden="true"] {
    display: none;
  }

  @media (min(lg)) {
    left: calc(100% + #{rem(20)});
    padding: rem(20);
    top: 50%;
    transform: translateY(-50%);
    width: tidy-span(6);
  }
}
